#searchbarform {
    margin: 20px 0 0 9px;
    .search-form-button{
        background: #93A6B1;
        color: #fff;
    }
    .ant-row.ant-form-item.input-large {
        min-width: 350px;
    }
    .ant-col.ant-form-item-label {
        position: absolute;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        
    }
    .ant-col.ant-form-item-control {
        margin-top: 35px;
        font-family: 'Roboto', sans-serif;
    }
    .bold-label {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
}